<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>About Us</title>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/map">Map</a>
      <a href="/about">About</a>
      <a href="/recovered">Report a recovery</a>
      <a href="/has-covid">Report a case</a>

    </div>
    <h1 style = "font-family:Arial">Meet the team.</h1>
    <h2 style = "font-family:Arial">Presenting you the people behind the service:</h2>
    <h4 style = "font-family:Arial"> This group of 15 year olds were determined to find an effective solution to contain the spread of Covid-19 through an application.<br>
     This app enables users to report, as well as identify areas with cases, as well as the number of cases within an area. The end goal <br>
     is too keep the community safe.</h4>
     <pre>    </pre>
    <h3 style = "font-family:Arial">Siddhant Hullur &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jay Shah:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Aayush Goel: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Neil Deo:</h3>
    <p>
    <img src="../static/IMG_20191124_225538_217 (1).jpg" alt="Siddhant Hullur" style ="width:350px;height:350px;">
    <img src="../static/2020-07-24.jpg" alt="Jay Shah" style ="width:350px;height:350px;">
       <img src="../static/2020-07-24.png" alt="Aayush Goel" style ="width:350px;height:350px;">
       <img src="../static/2020-07-24 (1).jpg"  alt="Neil Deo" style ="width:350px;height:350px;">
    </p>
    <p>
        <p style = "font-family:Arial;font-size:13.6px;font-style:italic;display:inline-block;">Sid is a 15 year old student at Saint Francis High School. <br> He enjoys programming and computer related challenges. <br> He and Jay built the website.</p>
        <p style = "font-family:Arial;font-size:13.6px;font-style:italic;display:inline-block;">Jay is a rising sophomore at Cupertino High School. <br> He enjoys playing water polo and doing challenging math <br> problems. Some of his hobbies include playing <br> Pokemon and reading fantasy action novels.<br>He and Siddhant built the website.</p>
        <p style = "font-family:Arial;font-size:13.6px;font-style:italic;display:inline-block;">  Aayush is a rising sophomore at Cupertino High School. He <br>enjoys programming and math.<br>
        His hobbies are water polo and swimming. <br> He worked with Neil to interface with the API.</p>
        <p style = "font-family:Arial;font-size:13.6px;font-style:italic;display:inline-block;"> Neil Deo is a rising sophomore at Cupertino High School.<br> He enjoys playing basketball and programming. He created the <br> api, the frontend, and utilized the google maps api<br> with Aayush</p>
    </p>
</p>
    
    <style>
      .topnav {
        background-color: #333;
        overflow: hidden;
      }

      /* Style the links inside the navigation bar */
      .topnav a {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      /* Change the color of links on hover */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      /* Add a color to the active/current link */
      .topnav a.active {
        color: white;
        float: left;
      }
    </style>
  </head>
  <body>
       <pre>       </pre>
  </body>
  <pre>       </pre>
  <footer style = "font-family:Arial">SafetyMaps</footer>
  <p style = "font-family:Arial"><a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=siddhanthullur@gmail.com&tf=1" target = "_blank">Contact Us</a></p>
</html>
